/*-- scss:defaults --*/
$font-family-sans-serif: Archer;
$link-color: #0d3ef0;
$body-color: #000000;
$code-color: rgb(86, 51, 51);
$code-block-bg: #efe8e8;
$navbar-bg: #021526;
$navbar-fg: #e0e6e6;
$body-bg: #ffffff;